.tags-block {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.add-tag-button {
    color: $sidebar-text-color;
    cursor: pointer;
    display: inline-block;
    &:hover {
        color: $red;
        .icon-add {
            fill: $red;
        }
    }
    .icon-add {
        @include svg-size(.75rem);
        fill: $sidebar-text-color;
        margin: .25rem .25rem 0 0;
    }
}
