.general-category-wrapper {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    padding-left: 35px;
}

.category-config-list {
    border-top: 2px solid $border-color;
}

.category-config {
    .resume {
        align-items: space-between;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 1rem 1rem 1rem 0;
        position: relative;
        &.open-drawer {
            .icon {
                transform: rotate(90deg);
            }
        }
    }
    .icon {
        transform: rotate(0);
        transition: all .4s;
        fill: $sidebar-text-color;
    }
    .resume-title {
        width: 280px;
        @include font-size(large);
    }
    .count {
        color: $gray-light;
        float: left;
        padding-right: 20px;
    }
    .summary-role {
        flex: 1;
        width: 280px;
        .role-summary-single {
            background: $gray-light;
            display: inline-block;
            height: 12px;
            margin-right: 0.25rem;
            width: 12px;
            border-radius: 50%;
            &.active {
                background: $red;
            }
            &.inactive {
                background: $gray;
            }
        }
    }
    .category-items {
        @include slide(400px, hidden);
        border-top: 2px solid $border-color;
        &.open {
            border-top: 2px solid transparent;
        }
        .items-container {
            background-color: $gray-bgr;
            width: 64.5%;
            margin-left: 33%;
            padding: 1rem;
        }
    }
    .category-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: .5rem .5rem .5rem 2rem;
        @include font-type(title);
        &:last-child {
            border-bottom: 0;
        }
    }
    .check {
        border-color: #caccd1;
        input { // IE needs smaller size
            height: 40px;
            width: 85px;
        }
    }

    &:last-child {
        .category-items {
            border: none;
        }
    }
}
