nav
    ul.client-list
        li.client-box(
            tg-repeat="room in vm.rooms"
            ng-class="{active: (room.get('slug') == vm.room)}"
        )
            .client-box-in
                a(                    
                    ng-click="vm.changeRoom(room)"
                    href="/messages/{{room.get('slug')}}"
                )
                    .client-image
                        img(tg-avatar="vm.getRoomMember(room)", tg-bo-alt="avatar")
                    .client-text
                        h2.title(tg-bo-bind="vm.getRoomName(room)")
                        .clearfix
                        p(tg-bo-bind="vm.getRoomProjectName(room)")
                    .light-icon

