.room-filter-outer{
    overflow: auto;
    height: calc(100vh - 200px);
}

.room-filters{
    a{
        display: block !important;
        text-transform: capitalize;
        small{
            display: block;
            font-size: 14px;
            padding: 2px 0;
        }
    }
}

.client-box-in{
    .light-icon{
        // display: none;
    }
} 

.room-filters-inner{
    .search-in input[type="text"]{
        color: #9aa4b1;
        border: none;
        background: #fff;
    }
}