.profile-content-tabs {
    z-index: 9;
    .tab {
        color: $tabs-color;
        display: inline-block;
        padding: 1rem;
        @include font-type(title);
        &:hover,
        &.active {
            color: $gray;
            transition: color .2s linear;
            .icon {
                fill: $red;
            }
        }
        &.active {
            background: $white;
            position: relative;
            top: 1px;
            transition: color .2s linear;
            border-radius: 5px 5px 0 0;
            .icon {
                color: $primary;
            }
        }
    }
    .icon {
        fill: $sidebar-text-color;
        height: .8rem;
        margin-right: .5rem;
        transition: fill .2s linear;
    }
}
