%empty {
    margin-top: 4rem;
    text-align: center;
    img {
        margin-bottom: 1rem;
        width: 100%;
    }
    .title {
        @include font-size(large);
        color: $gray-light;
    }
    p {
        @include font-type(light);
        margin: 0;
    }
    a {
        @include font-size(medium);
        color: $red;
        text-transform: uppercase;
    }
}

.empty-small {
    @extend %empty;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .title {
        @include font-size(large);
        color: $primary-dark;
    }
    a {
        color: $gray-light;
        text-transform: capitalize;
    }
    img {
        max-width: 175px;
        display: none;
    }
}

.empty-large {
    @extend %empty;
    img {
        max-width: 800px;
        display: none;
    }

    &.tags-empty {
        margin-top: 0;
    }
}

.empty-filter {
    @extend %empty;
    margin-top: 1rem;
}
