
.track-buttons-container {
    @include font-size(small);
    position: relative;
}

.track-button {
    align-items: stretch;
    border-radius: 4px;
    display: flex;
    margin: 0;
    padding: 0;
    &.active {
        .icon {
            fill: $red;
        }
    }
    &.is-hover {
        background: lighten($red, 10%);
        transition: background .2s;
        .track-inner {
            color: $red;
        }
        .icon {
            fill: $red;
        }
        .track-button-counter {
            color: $red;
        }
    }
    .watch-options-arrow {
        margin-left: 0.5rem;
    }
    .icon-arrow-down {
        @include svg-size(.75rem);
    }
}

.track-inner {
    align-items: center;
    background: $white;
    border-radius: 4px 0 0 4px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding: .25rem 0 .25rem 0.75rem;
    &:hover {
        background: darken($whitish, 5%);
        transition: background .3s;
    }
}

.track-icon {
    fill: $primary-dark;
    position: relative;
    top: 2px;
    margin-right: .75rem;
}

.track-button-counter {
    align-items: center;
    background: $white;
    border-radius: 0 4px 4px 0;
    padding: .25rem .75rem .25rem .75rem;
}

.contact-team {
    background: $primary-dark;
    border-radius: 5px;
    padding: .25rem .75rem;
    .icon-mail {
        fill: $white;
    }
    &:hover {
        background: darken($primary-dark, 5%);
        transition: background .3s;
    }
}

.watch-options {
    animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) alternate;
    background: rgba($dark-bgr, .9);
    border-radius: 4px;
    margin: 0;
    margin-top: 2.5rem;
    min-width: 300px;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    &.hidden {
        animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) reverse;
    }
    li {
        margin: 0;
        &:last-child a {
            border: 0;
        }
    }
    a {
        @include font-type(light);
        border-bottom: 1px solid rgba($gray-light, .3);
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        &.active {
            color: $red;
        }
    }
    .watch-check {
        height: 1.25rem;
        width: 1.25rem;
        svg {
            fill: $red;
        }
    }
}

.upvote-btn {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex: 0;
    flex-basis: 3rem;
    justify-content: center;
    margin-right: .3rem;
    .vote-inner {
        background: $mass-white;
        color: $gray-light;
        display: block;
        padding: 1rem;
        text-align: center;
    }
    a {
        &:hover {
            background: darken($mass-white, 5%);
            color: $primary-dark;
            transition: background .3s;
            path {
                fill: $primary-dark;
            }
        }
        &.active {
            background: $white;
            color: $primary;
            transition: all .3s;
            svg {
                fill: $red;
            }
        }
        &.is-hover {
            svg {
                fill: $red-light;
                transform: rotate(180deg);
                transition: all .3s;
            }
        }
    }
    svg {
        fill: $gray-light;
        height: 1rem;
        width: 1rem;
    }
    span {
        display: block;
    }
}
