$dropdown-width: 350px;

.navbar {
    display: flex;
    height: $navbar;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid $border-color;
    &::after {
        background-size: 200%;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    .nav-left,
    .nav-right {
        align-content: center;
        align-items: center;
        display: flex;
    }
    .nav-left {
        a {
            color: $red;
            padding: .5rem 1.25rem;
            @include font-size(small);
            &:hover {
                color: darken($red, 10%);
            }
        }
        .logo {
            border-right: 1px solid $border-color;
            padding: 0 1.25rem 0 3.125rem;
        }
        svg {
            @include svg-size(7rem);
            height: 3.625rem;
        }
    }
    .nav-right {
        margin-left: auto;
        a {
            color: $grayer;
            padding: .5rem 2rem;
        }
        svg {
            @include svg-size(1.2rem);
            fill: $menu-color;
            transition: all .2s linear;
        }
    }
    a {
        color: $white;
        display: inline-block;
        transition: all .2s linear;
        &:hover {
            color: $sidebar-text-color;
            svg {
                fill: $sidebar-text-color;
            }

        }
        &.user-avatar {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            position: relative;
            min-width: 200px;
            height: $navbar;
            padding: 0 1.875rem;
            text-align: right;
            color: #052847;
            border-left: 1px solid $border-color;
            &:before {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 6px 0 6px;
                border-color: #ccc transparent transparent transparent;
                margin-left: 1rem;
            }
            span {
                padding-right: 1rem;
            }
            img {
                border-radius: 50%;
                margin-right: 1rem;
            }
        }

    }
    img {
        height: 2.5rem;
        margin-left: .5rem;
        vertical-align: middle;
    }
    .topnav-dropdown-wrapper {
        position: relative;
        &:hover {
            .navbar-dropdown {
                animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) both;
                display: block;
            }
        }
    }
    .navbar-dropdown {
        top: 100%!important;
        a {
            padding: .8rem .5rem;
        }
    }
    %dropdown {
        border-radius: 2px;
        display: none;
        left: calc(50% - #{$dropdown-width}/2);
        min-width: $dropdown-width;
        position: absolute;
        top: 2.4rem;
        z-index: 999;
    }
}

.navbar-dropdown {
    @extend %dropdown;
    background: $dark-bgr;
    border: none;
    padding: .3rem;
    &.dropdown-user {
        left: calc(50% - 200px/2);
        min-width: 200px;
        ul {
            margin-bottom: 0;
        }
    }
    ul {
        @include arrow('bottom', $dark-bgr, $dark-bgr, 1, 8);
        margin: 0;
        margin-bottom: .5rem;
        padding: 0;
        &:after {
            content: normal;
        }
        li {
            a {
                &:hover {
                    background: $grayer;
                }
            }
        }
    }
    .plugin {
        &:hover {
            .new {
                color: $white;
            }
        }
        .new {
            @include font-size(small);
            background: $red-light;
            float: right;
            margin-left: auto;
            padding: .1rem .25rem;
        }
    }
    a {
        color: $gray-light!important;
        display: block;
        padding: .8rem .5rem;
        &:hover {
            color: $white!important;
        }
        &.see-more-projects-btn,
        &.create-organization-btn,
        &.create-project-btn {
            color: $white!important;
            text-align: center;
            &:hover {
                color: $white;
            }
        }
        &.see-more-projects-btn {
            margin-bottom: .3rem;
        }
        &.create-project-btn {
            flex: 1;
        }
        &.blocked-project {
            color: $gray;
            svg {
                margin-left: .5rem;
                position: relative;
                top: .25rem;
            }
        }
    }
    .create-options {
        display: flex;
        flex-direction: row;
    }
}
