tg-lightbox-close

section
    h2.title
    .options
        a.button-theme(
            href=""
            title="{{'COMMON.ACCEPT' | translate}}"
        )
            span(translate="COMMON.ACCEPT")
