fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea {
    border: 1px solid $mass-white;
    margin: 0;
    padding: 12px 14px;
    width: 100%;
    color: $sidebar-text-color;
    &.checksley-error {
        transition: border .3s linear;
    }

    &::placeholder {
      color: $mass-white!important;
      opacity: 1!important;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

select {
    padding-right: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/icons/arrow.svg")!important;
    background-origin: content-box!important;
    background-position: right -1rem center!important;
    background-repeat: no-repeat!important;
    background-size: 10px 15px!important;
    padding-right: 1.5rem;
    background-color: $mass-white!important;
}

button,
button:active,
button:focus {
    border: 0;
    outline: 0;
    outline-style: none;
    outline-width: 0;
}
textarea {
    min-height: 10rem;
    resize: vertical;
}
.checksley-error-list {
    margin-bottom: 0;
    li {
        padding: .2rem;
    }
}
.capslock {
    &.ng-enter {
        animation: dropdownFade .2s ease-in;
    }
    &.ng-leave {
        animation: dropdownFade .2s ease-in;
        animation-direction: reverse;
    }
    .icon-capslock {
        bottom: .8rem;
        fill: $gray;
        height: .9rem;
        position: absolute;
        right: 1rem;
        width: .9rem;
    }
}
