.admin-attributes {
    .admin-attributes-section {
        margin-bottom: 2rem;
        background: $white;
        border-radius: 5px;
        padding: 1.25rem;
        .checksley-error-list {
            height: 0;
            position: relative;
            li {
                @include font-type(light);
                background: rgba($red, .7);
                position: absolute;
                width: 100%;
            }
        }
        .admin-tags-section-wrapper-empty {
            color: $gray-light;
            padding: 10vh 0 0;
            text-align: center;
        }
        .loading-spinner {
            max-height: 3rem;
            max-width: 3rem;
        }
    }
}

.admin-roles {
    header {
        position: relative;
    }
    h1 {
        margin-bottom: 0;
    }
    p {
        @include font-type(text);
        @include font-size(large);
        color: $gray-light;
    }
}

.project-values-title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2.5rem;
    h2 {
        display: block;
        width: 75%;
        padding: .75rem 2rem;
        background: $mass-white;
        color: $gray-light;
        @include font-type(text);
        @include font-size(medium);
        margin-bottom: 0;
        span {
            margin-left: .5rem;
            text-transform: none;
        }
    }

    .button-theme {
        display: inline-block;
        width: 24%;
    }
}
