.admin-membership-table {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.875rem;
    .title {
        color: $gray-light;
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            border-radius: 50%;
            border: none;
            flex-grow: 0;
            margin: 0 .5rem 0 .3rem;
            width: 70px;
            height: 70px;
        }
        .name {
            color: $primary-dark;
            @include font-type(bold);
            @include font-size(larger);
        }
        .data {
            @include font-size(medium);
            color: $gray-light;
        }
        .pending {
            @include font-type(normal);
            color: $red-light;
            display: inline-block;
            padding-left: .3rem;
        }
    }
    .header-role,
    .header-status {
        padding-left: .5rem;
    }
    .row-role {
        padding-right: 1rem;
        select {
            background: $border-color;
            width: 80%;
        }
    }
    .row-status {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .active,
    .resend {
        padding: .4rem .5rem;
    }
    .active {
        color: $gray-light;
        &:before {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: $success;
            margin-right: 10px;
        }
    }
    .resend {
        color: $gray-light;
        &:before {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: $red;
            margin-right: 10px;
        }
    }
    .delete {
        fill: $gray-light;
        transition: fill .2s;
        &:hover {
            fill: $red;
        }
    }
    .pending {
        color: $red-light;
    }
    .row-admin {
        input {
            vertical-align: middle;
        }
        label {
            @include font-size(small);
        }
    }
    .header-member {
        @include font-type(medium);
        @include font-size(xlarge);
        color: $primary-dark;
    }

    .row-member,
    .row-role,
    .header-member,
    .header-role {
        flex-basis: 170px;
        flex-grow: 3;
        min-width: 170px;
    }
    .row-admin,
    .header-admin {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 70px;
    }
    .row-status,
    .header-status {
        flex-basis: 50px;
        flex-grow: 1;
    }
}
