.admin-common {
    .admin-common-top {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    header {
        h1 {
            margin-bottom: 0;
        }
    }
    .admin-subtitle {
        color: $gray-light;
        margin-bottom: 2rem;
        a {
            color: $primary;
            &:hover {
                color: $primary-light;
            }
        }
    }
    .total {
        @include font-size(medium);
        align-items: center;
        background-color: $whitish;
        color: $gray-light;
        display: flex;
        padding: 0;
        &:hover {
            .icon-edit {
                opacity: 1;
                transition: opacity .3s linear;
            }
        }
    }
}
