.admin-menu {
    li {
        @include font-type(text);
        &:last-child {
            border-bottom: 0;
        }
    }
    a {
        display: block;
        padding: 1rem 0 1rem 1rem;
        @include font-size(large);
        color: $gray-light;
        &:hover {
            color: $red;
        }
    }
}
