@import '../dependencies/mixins/profile-form';
.project-details {
    @include profile-form;
    .looking-for-people,
    .get-feedback {
        border-bottom: 2px solid $border-color;
        padding: 1rem 0;
        color: $gray-light;
    }
    .looking-for-people {
        border-top: 2px solid $border-color;
        border-bottom: none;
        margin-bottom: 0;
        color: $gray-light;
    }
    .get-feedback {
        border-top: none;
    }
    .looking-for-people-selector,
    .get-feedback-inner {
        align-items: center;
        display: flex;
        svg {
            @include svg-size();
            fill: $gray-light;
            margin-left: .5rem;
        }
        .check {
            margin-left: auto;
        }
    }
    .looking-for-people-reason {
        display: block;
        margin-top: 1rem;
        &.ng-hide-remove-active {
            animation: dropdownFade .3s;
        }
        &.ng-hide-add-active {
            animation: dropdownFade .2s reverse;
            animation-delay: .1s;
        }
        label {
            @include font-type(medium);
        }
    }
    .delete-project {
        @include font-size(xsmall);
        display: block;
        margin-top: 1rem;
        text-align: right;
        color: $gray-light;
        &:hover {
            color: $red;
        }
    }

    .submit-inline {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .submit-button {
            min-width: 175px;
        }
        .delete-project {
            margin: 0 0 0 1rem;
        }
    }
    .private-or-public {
        @include font-size(medium);
        color: $gray-light;
        margin-bottom: 2rem;
        line-height: 17px;
        svg {
            @include svg-size(1.1rem);
            fill: $gray-light;
            margin-right: .5rem;
            vertical-align: middle;
        }
    }
}
.project-privacy-settings {
    display: flex;
    margin-bottom: .5rem;
    color: $gray-light;
    .privacy-option {
        display: flex;
        align-items: center;
        flex: 1;
        transition: .2 linear;
        &:first-child {
            margin-right: .5rem;
        }
    }
    input[type="radio"] {
        display: none;
    }
    input[type="text"] {
        display: none;
    }
    label {
        border-radius: 50%;
        width: 17px;
        height: 17px;
        display: block;
        padding: 0;
        margin: 0 8px 0 0;
        background: $white;
        color: $grayer;
        border: 2px solid $gray-light;
        text-align: center;
        transition: all .2s linear;
        position: relative;
        &:hover {
            border: 2px solid $red;
            color: $grayer;
            svg {
                fill: $grayer;
            }
        }
        svg {
            @include svg-size(1.1rem);
            fill: $grayer;
            margin-left: .5rem;
            vertical-align: middle;
        }
    }
    .privacy-project:checked {
        + label {
            background: $white;
            border: 2px solid $red;
            color: $white;
            &:after {
                content: "";
                background: $red;
                width: 8px;
                height: 8px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                border-radius: 50%;
            }
            svg {
                @include svg-size(1.1rem);
                fill: $white;
            }
        }
        ~input[type="text"] {
            display: block;
        }
    }
    .privacy-project[disabled] {
        + label {
            background: $mass-white;
            box-shadow: none;
            color: $gray-light;
            cursor: not-allowed;
            opacity: .65;
            &:hover {
                background: $mass-white;
                color: $gray-light;
            }
        }
    }
}
tg-admin-project-restrictions {
    p {
        @include font-size(x-small);
        text-align: center;
    }
    a {
        color: $primary;
    }
    span {
        display: block;
    }
    span:first-child {
        &::before {
            border: 1px solid $red-light;
            border-radius: 6px;
            color: $red-light;
            content: '!';
            display: inline-block;
            height: 12px;
            line-height: 12px;
            margin-right: .5rem;
            text-align: center;
            width: 12px;
        }
    }
}

.owner-wrapper {
    .title {
        color: $gray-light;
        margin-bottom: 0.625rem;
    }
}

.owner-info-wrapper {
    display: flex;
    align-items: center;
}

.admin-project-profile-owner-actions {
    align-items: center;
    border-top: 1px solid $whitish;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    a {
        color: $red;
        &:hover {
            color: $primary-light;
            transition: color .2s;
        }
    }
    img {
        width: 100%;
    }
    .owner-info {
        @include font-size(large);
        flex: 1;
        padding-left: .5rem;
        color: $red;
    }
    .owner-info-title {
        color: $gray-light;
    }
    .owner-avatar {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 50%;
    }
    .request {
        flex-shrink: 0;
    }
}
