.search-in {
    input[type="text"] {
        border: 2px solid $grayer;
        padding: 10px 35px 10px 10px;
        color: $white;
        @include placeholder {
            color: $grayer;
            opacity: 1;
        }
    }
    .icon-search-wrapper {
        position: absolute;
        right: .7rem;
        top: .8125rem;
    }
    .icon-search {
        fill: $white;
    }
    .loading-spinner {
        margin-top: .1rem;
    }
}
