.wrapper(ng-init="vm.loadInitialData()")
    sidebar.menu-secondary.room-list
        section.room-filters
            div.room-filters-inner
                header
                    h1(translate="MESSAGES.ROOM.TITLE")

                form.search-in
                    fieldset
                        input(type="text", placeholder="{{'MESSAGES.ROOM.PLACEHOLDER_INPUT_SEARCH' | translate}}", ng-model="vm.filtersQ")
                        .icon-search-wrapper
                            tg-svg(
                                svg-icon="icon-search",
                                title="{{'COMMON.FILTERS.TITLE_ACTION_FILTER_BUTTON' | translate}}"
                            )
            div.room-filter-outer
                tg-room-list(room="vm.slug")
        
    section.main.messages(role="main")
        header.header-with-message
            .chat-header-left
                h2 {{vm.roomTitle}}
                .online-status
                    .light
                        span Online Now
                .clearfix
                small {{vm.roomProject}}
            .chat-header-right

        main.container(ng-if="vm.slug")
            div.message-container(tg-scroll-bottom="vm.messages")
                .chat-box(ng-repeat="message in vm.messages")
                    .user-detail(ng-if="vm.messages[$index - 1].sender.id != message.sender.id")
                        .user-avatar
                            .image-cover
                                img(tg-avatar="message.sender", tg-bo-alt="message.sender.full_name")
                            .sent-time {{message.sent_time | momentTimeStampFormat:'HH:mm'}}
                        h2 {{message.sender.full_name}}
                    .chat-content
                        p {{message.content}}
                .bottom(id="message_bottom")
            div.typing-section
                input.input-chat(type="text" placeholder="Type your message..." ng-model="vm.message_text" ng-keypress="vm.sendMessageByEnter($event)")
                .right-attach
                    a.smile()
                        tg-svg(svg-icon="icon-smile")
                    a.attach()
                        tg-svg(svg-icon="icon-attach")
                button.mainbtn.chat-send(ng-click="vm.sendMessage()") Send
