.header-with-message {
    h1, h4 {
        color: #5b8200;
        transition: color .3s linear;
        margin: 0;
    }

    .online-status{
        display: none;
    }
}

.chat-header-left {
    padding-bottom: 1rem;
    &-title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        h2 {
            margin: 0;
            @include font-size(xlarge);
            padding-right: 35px;
        }
    }

    small {
        color: $gray-light;
    }
}

.message-main-container {
    background: $white;
    padding: 25px;
    border-radius: 5px;
    // box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);

    .single-attachment{
        .percentage{
            height: 2px;
            background: #f73756;
        }
    }
}

.messages {
    background: #fff;
    .container {
        height: calc(100vh - 165px);
        margin: 10px 0;
        position: relative;

        .message-container {
            height: calc(100% - 170px);
            margin: 10px 0;
            // border: 1px solid $border-color;
            border-radius: 5px;
            overflow: auto;
            padding: 20px;
        }

        .text-containter {
            height: 80px;
            textarea{
                outline: none;
            }
        }
        .user-avatar {
            text-align: center;
        }
        .sent-time {
            font-size: 14px;
            color: $gray-light;
        }
        .chat-box {
            border-top: 2px solid $border-color;
            padding: 10px 0 0 0;
            margin-top: 10px;            

            &.duplicate-message{
                border: none;
                padding: 0;
                margin-top: 0px;
            }

            .user-detail{
                display: flex;
                h2{
                    margin: 10px 20px;
                }
            }
        }
        .image-cover {
            display: inline-block;
            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }
        }

        .chat-content {
            padding-left: 80px;
            &.unread-message{
                border-top: 1px dashed #f73756;
            }
            h2 {
                margin-bottom: 0;
            }
            p {
                color: $gray-light;
                margin-bottom: 3px;
            }
        }
    }
}

.message {
    .sender {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        img {
            border: 2px solid #fff;
            border-radius: 8%;
            -ms-flex-preferred-size: 40px;
            flex-basis: 40px;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 40px;
        }

        .sender-data{
            margin-left: 10px;
            .sender-name{
                width: 100%;
                display: block;
                font-size: 16px;
                font-weight: 600;
                color: #5b8200;
            }

            .sent-time{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                font-size: 12px;
                color: #767676;
            }
        }
    }

    .content{
        padding-left: 50px;
        margin: 5px 0;
        display: block;
    }
}

.typing-section {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 12px;
    margin-top: 20px;
    .input-chat {
        border: none;
    }

    .attach{
        input{
            display: none;
        }
    }
}

.right-attach {
    display: flex;
    a, .attach {
        display: inline-block;
        margin-right: 12px;
        cursor: pointer;
    }

    .attach{
        label{
            cursor: pointer;
        }
    }

    .icon {
        fill: $gray-light;
        @include svg-size(1.25rem);
    }
}

.status-circle {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background: $red;
    border-radius: 100%;
    margin-right: 10px;
}

.room-filters {
    header {
        h1 {
            color: #646b7f;
        }
    }
    .client-box {
        padding: 0 10px;
        border-bottom: 1px solid #e1e4e7;
        &.active{
            background: #fff;
            .client-text{
                .title{
                    color: #646b7f;
                }
            }
        }

        .client-text{
            .title{
                color: #646b7f;
            }
        }

        a {
            display: flex!important;
            justify-content: flex-start;
        }

        .light-icon{
            background: #f73756;
            color: #fff;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-align: center;
            margin-left: 15px;
            font-size: 16px;
            line-height: 25px;
            &.icon-hidden{
                display: none;
            }
        }
    }
}


.client-text {
    padding-left: 10px;

    .title {
        color: #878890;
        @include font-size(medium);
        @include font-type(title);
        margin-bottom: 5px;
    }
    p {
        @include font-size(small);
        margin-bottom: 0;
    }
}

.client-image {
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.room-list{
    background: #f3f4f6 !important;
    width: 420px !important;
}