.user-change-password {
    max-width: 1000px;
    padding-left: 60px;
    padding-top: 30px;
    form {
        display: flex;
        flex-flow: column;
        background: $white;
        padding: 3.125rem;
        border-radius: 5px;
    }
    fieldset {
        margin-bottom: 1rem;
        &:last-child {
            margin-top: 2rem;
        }
    }
    label {
        @include font-type(text);
        display: block;
        margin-bottom: .5rem;
    }
    .button-theme {
        width: auto;
    }
}
