@mixin project-card {
    background: $white;
    border: 1px solid $whitish;
    margin: .5rem;
    .tags-container {
        display: flex;
        height: .3rem;
    }
    .project-tag {
        flex: 1;
    }
    .project-card-inner {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .project-card-description {
        @include font-size(small);
        color: $gray-light;
    }
    .project-card-statistics {
        display: flex;
        margin-top: auto;
        svg {
            @include svg-size(.75rem);
            width: 1rem;
            fill: currentColor;
            margin-right: .25rem;
        }
    }
    .statistic {
        @include font-size(small);
        color: $gray-light;
        display: inline-block;
        margin-right: .5rem;
        svg {
            fill: $primary-dark;
        }
        &.active {
            color: $gray-light;
            svg {
                fill: $red;
            }
        }
    }
    .project-card-header {
        display: flex;
        flex-grow: 0;
    }
    .project-card-logo {
        display: inline-block;
        flex-basis: 50px;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        margin-right: .5rem;
        img {
            width: 100%;
        }
    }
    .project-card-name {
        line-height: 1.25;
        a {
            @include font-size(bg-medium);
            color: $primary-dark;
            &:hover {
                color: $red;
            }
        }
    }
}
