.team-filters-inner {
    padding: 0 1rem 0 0.375rem;
}

.team-filters,
.room-filters {
    .search-in {
        margin-bottom: 1rem;
        position: relative;
    }
    li {
        @include font-size(large);
        @include font-type(text);
        &:last-child {
            border-bottom: 0;
        }
        .icon {
            fill: $blackish;
            opacity: 0;
        }
    }
    a {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 1rem 0;
        color: $sidebar-text-color;
        &:hover,
        &.active {
            color: $white;
            .icon {
                fill: $white;
                opacity: 1;
            }
        }
    }
    .active {
        opacity: 1;
    }
}
