.table-team {
    .row {
        padding: 0.75rem 0;
        border-bottom: 2px solid $border-color;
    }
    .username {
        flex-basis: 220px;
        min-width: 25%;
    }
    .member-stats {
        align-content: center;
        align-items: center;
        display: flex;
        flex: 6;
        justify-content: flex-end;
    }
    .attribute {
        flex: 1;
        position: relative;
        text-align: center;
        color: $gray-light;
        @include font-type(medium);
        .icon {
            @include svg-size(1.75rem);
            fill: $gray;
        }
        .points {
            @include font-size(larger);
            @include font-type(light);
            color: $grayer;
        }
        .top {
            fill: $primary-light;
            opacity: 1;
        }
        &:hover {
            .popover {
                display: block;
            }
        }
    }
    .leave-project {
        @include font-size(xsmall);
        color: $red;
        .icon {
            @include svg-size(.5rem);
            fill: $red;
            margin-right: .2rem;
        }
        &:hover {
            color: $red;
            .icon {
                color: currentColor;
                transition: fill .3s linear;
            }
        }
    }
    .team-header {
        padding: 1rem 0.5rem;
        margin-bottom: 1.5rem;
        border-bottom: 2px solid $border-color;
        .username {
            color: $primary-dark;
            @include font-size(xlarge);
        }
    }
    .hero {
        width: 100%;
        .row {
            border-bottom: 2px solid $border-color;
        }
    }
    .avatar {
        align-items: center;
        display: flex;
        img {
            flex-basis: 70px;
            flex-grow: 0;
            flex-shrink: 0;
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
        .avatar-data {
            margin-left: 1rem;
            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }
        .name,
        .position {
            display: block;
            width: 100%;
        }
        .name {
            @include font-type(bold);
        }
        .position {
            @include font-type(light);
            color: $gray-light;
        }
    }
    .popover {
        @include popover(100%, '', 0, 30px, '', 15px, '', 50%, -5px);
    }
    .icon-badge {
        position: relative;
        top: .15rem;
    }
}
